* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #323F47;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.44px;
}

@font-face {
    font-family: 'proxima-nova', ;
    src: url('../assets/fonts/proximanova_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova', ;
    src: url('../assets/fonts/proximanova_bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova', ;
    src: url('../assets/fonts/proximanova_light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'proxima-nova', sans-serif;
}

.app {
    display: flex;
}

.content {
    height: 100vh;
    width: calc(100% - 127px);
    background:#F8F8F8;
    z-index: 20;
    margin-left: auto;
    border-top-left-radius:56px;
}