.navBar {
    width: 267px;
    height: 100vh;
    border-radius: 56px 56px 0px 56px;
    background: linear-gradient(180deg, #54D3C2 0%, #30898A 100%);
    position: absolute;
    left: 0;
    z-index: 10;
}