.navBar {
    width: 267px;
    height: 100vh;
    border-radius: 56px 56px 0px 56px;
    background: linear-gradient(180deg, #54D3C2 0%, #30898A 100%);
    position: absolute;
    left: 0;
    z-index: 10;
}

.logoWrapper {
    width: 64px;
    margin-left: 32px;
    margin-top: 55px;
    display: flex;
}

.navBtnWrapper {
    margin-top: 85px;
    margin-left: 43px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 42px;
    height: 574px;
}
